<tr>
  <td class="p-2 border-t"><input type="checkbox" /></td>
  <td class="p-2 border-t"><%= link_to todo.title, todo, class: 'link' %></td>
  <td class="p-2 border-t"><%= todo.description.presence || tag.span('-', class: 'text-muted') %></td>
  <td class="p-2 border-t"><%= todo.assignee.presence || tag.span('-', class: 'text-muted') %></td>
  <td class="p-2 border-t"><%= todo.deadline.presence || tag.span('-', class: 'text-muted') %></td>
</tr>
