<main>
  <h1 class="h1"><%= todo.title %></h1>

  <dt>
    <dl class="label mb-1">Description</dl>
    <dd itemprop="description"><%= todo.description.presence || 'No description.' %></dd>
  </dt>
</main>
